@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>to</h4>
    <h6 class="display-4">World Movie Collection</h6>
    <br />
    <h1 class="display=4">About </h1>
    <p>
       1. AZMovies: Offers a wide collection of movies for free with bearable ads.
       2. SolarMovie: The site gives a personalized streaming experience with its well-organized …
       3.Tubi TV: Has an extensive archive of free movies and shows for long-lasting streaming.
       4.Gostream: Allows you to watch movies and TV series online for free in full HD. Offers fast …
    </p>
</div>
